.wrapper {
	border: solid black;
	width: 1000px;
	text-align: center;
	margin: auto;

}

.grid-wrap {
	width: 960px;
	height: 960px;
	margin: 20px auto;
	border: solid red 1px;
}

ul {
	margin: 0;
	padding: 0;
	float: left;
}

li {
	outline: solid black 1px;
	display: inline-block;
	list-style: none;
}

