.wrapper {
	border: solid black;
	width: 1000px;
	text-align: center;
	margin: auto;

}

.grid-wrap {
	width: 960px;
	height: 960px;
	margin: 20px auto;

}

ul {
	margin: 0;
	padding: 0;

}

li {

	list-style: none;
	display: inline-block;
	text-align: justify-all;
	position: relative;


}

.square-div{

	position: absolute;
	top: 5px;
	left: 5px;

}

.border-div{
	position: absolute;
	top: 5px;
	left: 5px;
	outline: solid black 2px;
	background-color: transparent;
}

